<div class="kontaktinfo">
    <form action="/action_page.php">
        First name:<br>
        <input type="text" name="firstname" value="">
        <br>
        Last name:<br>
        <input type="text" name="lastname" value="">
        <br>
        Email:<br>
        <input type="text" name="Email" value="">
        <br>
        Telefonnummer:<br>
        <input type="text" name="Telefonnummer" value="">
        <br><br>
    </form> 
    <a href="Bokningbekraftelse.html" class="bokning">
        <button class="boka"> Boka resa </button>
    </a>
</div>