<div class="kina">
    <img src="img/Thailand_kina_bild.jpg" alt="Thailand-Kina resa">
    <a class="thailandkina" href="Thailand_kina.html">Thailand-Kina 7999:-</a>
</div>
<div class="kina2">
        <img src="img/Kinabackpacking.jpg" alt="Thailand-Kina resa">
        <a class="thailandkina" href="Thailand_kina.html">Thailand-Kina 7999:-</a>
</div>