@media only screen and (min-device-width: 901px){


    .kontaktinfo{
        grid-row: span 8;
        grid-column: 4/8;
    }
    a.bokning{
        grid-column: 5/7;
        grid-row: 6/7;

    }
    .boka{
        grid-column: 2/4;
        grid-row: 3/4;
        border-radius: 6000000000000000px;
        background-color: #FF2200;
    }

}

@media only screen and (max-device-width: 900px){

    .kontaktinfo{
        grid-row: span 8;
        grid-column: 4/8;
    }
    a.bokning{


    }
    .boka{

        border-radius: 6000000000000000px;
        background-color: #FF2200;
    }

}